* {
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
}

/*-- NAVIGATION --*/
.navBar {
  width: 100%;
  height: 50px;
  background-color: #000;
}

.navBarContainer {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 50px;
  color: white;
}

.logoContainer {
  flex: 2;
  font-family: "sen", sans-serif;
  color: rgb(39, 39, 189);
  display: flex;
  align-items: center;
}
.logoIcon {
  font-size: 30px;
}
.menuContainer {
  flex: 5;
}
.menuList {
  display: flex;
  list-style: none;
}
.menuListEl:hover {
  color: blue;
}
.active {
  font-weight: bold;
}
.menuListEl {
  padding-right: 50px;
  font-family: "sen", sans-serif;
}

.profileContainer {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.profileTextContainer {
  margin: 0 20px;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: cornsilk;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.toggleIcon {
  color: goldenrod;
}
.toggleBall {
  width: 19px;
  height: 19px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.sideBar {
  width: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.SideBarIcon {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
.SideBarIcon:hover {
  color: blue;
}

/*-- CONTAINER---*/

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}
.contentContainer {
  margin-left: 50px;
}
.featuresContent {
  height: 50vh;
  padding: 50px;
}
.featuresContent {
  height: 50vh;
  padding-left: 50px;
}

.featuresTitle {
  width: 300px;
}
.featuresDescrition {
  width: 60%;
  color: gray;
  margin: 30px 0;
  font-size: 15px;
}
.featuresBtn {
  color: rgb(241, 241, 248);
  font-weight: bold;
  background-color: blue;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 15px;
}

.movieListContainer {
  padding: 0 20px;
}
.movieListWrap {
  position: relative;
  overflow: hidden;
}
.movieList {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}
.movieListItems {
  margin-right: 20px;
  position: relative;
}
.movieListItems:hover .movieListItemsImg {
  transform: scale(1.2);
  margin: 0 20px;
  opacity: 0.5;
}
.movieListItems:hover .movieListItemsTitle,
.movieListItems:hover .movieListItemsBtn,
.movieListItems:hover .movieListItemsDescription {
  opacity: 1;
}
.movieListItemsImg {
  width: 270px;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s ease-out;
  border-radius: 20px;
}
.movieListItemsTitle {
  color: blue;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.movieListItemsDescription {
  padding: 10px;
  font-size: 15px;
  position: absolute;
  top: 30%;
  left: 10px;
  opacity: 0;
  transition: all 1s ease-in-out;
  color: lightgrey;
}
.movieListItemsBtn {
  padding: 10px;
  color: white;
  background-color: blue;
  border-radius: 10px;
  border: none;
  outline: none;
  position: absolute;
  bottom: 10%;
  left: 20px;
  opacity: 0;
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}
.movieListeTitle.active {
  color: black;
}

.navBarContainer.active {
  background-color: white;
  color: black;
}
.sideBar.active {
  background-color: white;
}
.SideBarIcon.active {
  color: black;
}
.toggle.active {
  background-color: black;
}
.toggleBall.active {
  background-color: white;
  transform: translateX(-19px);
}

@media only screen and (max-width: 940px) {
  .menuContainer {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .featuresTitle {
    width: 250px;
  }
  .featuresDescrition {
    width: 90%;
    color: gray;
    margin: 30px 0;
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px) {
  .featuresTitle {
    width: 200px;
  }
  .featuresDescrition {
    width: 100%;
    color: gray;
    margin: 20px 0;
    font-size: 15px;
  }
}
/*---FOOTER----*/

.footer {
  padding: 20px 50px;
  color: blue;
  position: relative;
  background: rgb(38, 38, 39);
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.footer-between {
  text-align: center;
}
